/* IMPOSTAZIONI GENERALI */
*{
    padding:0;
    margin: 0;
    box-sizing: border-box;
}
html{
    font-family: "Fira Sans", sans-serif;
}
/* HEADER */
header{
    padding: 1.5em;
    background-color: white;
    width: 100%;
    display: flex;
}
#logo{
    margin-top:0;
    display:inline-block;
    width: 40%;
}
/* MAIN */
body {
    font-size: 1.5rem;
}
body h1{
    font-size: 4rem;
}
body h2{
    font-size:3.5rem;
}
body h3{
    font-size:2.7rem;
}
#banner{
    max-width: 100%;
    height: 600px;
    background-image: url(../images/banner.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    color:#ffffff;
    font-size: x-large;
    text-align: left;
    line-height: 1.5em;
    font-family: "Fira Sans", sans-serif;
}
#banner h1{
    font-weight: 2.2em;
    font-size: 2.5em;
    padding-left:0.5em;
    padding-top:80px;
    text-align: left;
    line-height: 1em;
}
#banner p{
    font-size: 1em;
    margin-top:20px ;
    margin-left:25px;
    margin-right:100px;
    padding-top:5px;
    line-height: 1.6em;
    margin-bottom: 50px;
}
#banner a {
    background: linear-gradient(to right, #6cc1e2, #392f7a);
    color:#ffffff;
    text-decoration: none;
    font-family: "Fira Sans", sans-serif;
    margin-left:20px;
    margin-top:30px;
    padding:20px;
}
#obiettivi{
    line-height: 1.2em;
    font-family: "Fira Sans", sans-serif;
    text-align: center;
    padding-top: 60px;
    padding-left: 10px;
    padding-right: 10px;

}
#obiettivi h2{
    font-size: 1.9em;
    line-height: 1em;
    margin-bottom: 20px;
}
#obiettivi h3{
    font-size: 1.2em;
   
}
#obiettivi p{
    font-size: medium;
    padding:0.5em;
   
}
body .lni{
    color: red;
    text-align: center;
    font-size: 1.5em;
}
  /*#logo{
    margin-top:0;
    display:inline-block;
    width: 40%;
}*/
#scrivici{
    height:400px;
    font-family:"Fira Sans", sans-serif;
    text-align: center;
    background-color: #0c0633;
    color:white;
    line-height: 3em;

}
#scrivici h2{
    font-size: 3.5rem;
    padding-top: 30px;
}
#scrivici h4{
    font-size: 1.2rem;
    line-height: 1.5em;
    margin-bottom: 20px;
    padding:10px;
}
#scrivici a{
    background: linear-gradient(to right, #6cc1e2, #392f7a);
    color:white;
    text-decoration: none;
    font-family: "Fira Sans", sans-serif;
    padding:20px
    
   
}
#skills{
    font-family: "Fira Sans", sans-serif;
    text-align: center;
    line-height: 2em;
}

#skills h3{
    font-size: 65%;
}

#tabella{
    text-align: center;
    padding:400px;
    width:70%;
    margin-left: 115px;
    margin-top: 50px;
    margin-bottom: 50px;
    line-height: 1.6em;
}
#tabella caption{
    font-size: 120%;
}
#tabella th{
    font-weight: bold;
    font-size: 0.8em;
}
#tabella td{
    font-size: 00.8em;
}
#special{
    background-color: #bfdbe6;
    
}

/* FOOTER */
footer{
    background-color:rgb(238, 238,238);
    font-family: "Fira Sans", sans-serif;
    line-height: 1.5em;
    padding-left: 10%;
    padding-right: 10%;
    padding-top: 20px;
}
footer h2{
    font-size: 90%;
    line-height: 0.5em;
    padding-top: 10px;
    padding-bottom: 20px;
}
footer h3{
    font-size: 70%;
}
footer h4{
    font-size: 50%;
}
input{
    padding: 7px;
}
#icona{
    size: 1px;
}
footer a{
    background: linear-gradient(to right, #6cc1e2, #392f7a);
    color:white;
    text-decoration: none;
    font-family: "Fira Sans", sans-serif;
    padding:8px;
    font-size: 1.9rem;
}
footer h4{
    padding-top:20px;
    font-size: 0.8em;
}
/* RESPONSIVE */
/*chi-siamo.html*/
#tabella{
    text-align: center;
    padding:400px;
    width:70%;
    margin-left: 115px;
    margin-top: 50px;
    margin-bottom: 50px;
    line-height: 1.6em;
}
#tabella caption{
    font-size: 120%;
}
#tabella th{
    font-weight: bold;
    font-size: 0.8em;
}
#tabella td{
    font-size: 00.8em;
}
#special{
    background-color: #b6cbd3;
    
}
#chi{
    text-align: center;
    padding:10%;
    line-height: 1.6em;
}
#chi h1, p{
    margin-bottom: 40px;
}
